h1 {
    text-align: center;
    font-size: 50px;
}


table {
    border: 3px solid #7a71de;
    background-color: #aaa9fe;
    max-width: 600px;
    margin: 0 auto;
    /* Центрирование таблицы */
    width: 100%
}

th {
    border: 1px solid #6a6a6a;
    background-color: #7fccff;
}

td {
    border: 1px solid #4a4a4a;
    text-align: center;
    background-color: #d5f5ff;
}

#filmForm {
    margin-top: 10px;
    max-width: 400px;
    margin: 10px auto 0;
    text-align: center;
    border: 3px solid #7a71de;
    padding: 20px;
    border-radius: 4px;
    background-color: #d5f5ff;
}

#filmForm label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="date"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
}
input[type="number"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

label {
    display: block;
    margin-bottom: 5px;
}



button {
    background-color: #7fccff;
    color: #000000;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

button:hover {
    background-color: #aaa9fe;
    ;
}



a {
    display: inline-block;
    background-image: linear-gradient(45deg, #6ab1d7 0%, #33d9de 50%, #002878 100%);
    background-position: left top;
    background-size: 200% 200%;
    color: white;
    border-radius: 30px;
    padding: 12px 40px;
    margin: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 300;
    box-shadow: 0 16px 32px 0 rgba(0, 40, 120, .35);
    transition: .5s;
}

a:hover {
    box-shadow: 0 0px 0px 0 rgba(0, 40, 120, 0);
    background-position: left top;
}